@use 'govuk-frontend';

@use 'variables';
@use 'helpers';
@use 'core';
@use 'components';
@use 'partials';

.govuk-generic-header__container {
  border-bottom: 10px solid #1d70b8;
  position: relative;
  margin-bottom: -10px;
  padding: 5px 0;
}
