{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p class="govuk-body">
          This site houses a collection of tools for the use of the Digital Waste Tracking service team to facilitate managing and monitoring the service.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
